body {
  width: 8.5in;
  margin: 0in .1875in;
  }
.label{
  width: 1.7in;
  height: 1.7in; /* plus .125 inches from padding */
  margin-right: .125in; /* the gutter */

  float: left;

  text-align: center;
  overflow: hidden;

  outline: 1px dotted; /* outline doesn't occupy space like border does */
  }
.page-break  {
  clear: left;
  display:block;
  page-break-after:always;
  }

img {
  height: inherit;
  width: inherit;
}